* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

img {
  height: 10vh;
  width: 7vw;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: purple;
  /* background-image: url('../flags/travel_the_world.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
}

form input[type="text"] {
  height: 80px;
  width: 300px;
  text-align: center;
  border: 1px solid yellowgreen;
  border-radius: 20px;
  border-radius: 10px;
  visibility: hidden;
  box-shadow: 1px 1px 30px 1px greenyellow;
}

.introhead {
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: xx-large;
  color: rgb(201, 211, 181);
  border: 1px solid yellowgreen;
  border-radius: 10px;
  box-shadow: 1px 1px 30px 1px greenyellow;
}
#intro-header{
  margin-top: 50px;
  color: rgb(201, 211, 181);
  text-shadow: 3px 3px 5px yellowgreen, -3px -3px 5px rgba(0, 0, 0, 0.8);
}

.container {
  width: 750px;
  height: 500px;
}

.header {
  font-size: 1.2rem;
  border: solid 2px #fff;
  color: #fff;
  background-color: #6b6262;
  padding: 5px;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
}

.main-content {
  width: 100%;
  height: 300px;
  background-color: #fff;
  border-radius: 15px;
  padding: 50px 40px;
  box-shadow: 0 0 10px;
}
.main-content .country {
  font-size: 1.6rem;
  color: purple;
  text-transform: uppercase;
  margin-top: 40px;
}

.btn-area button {
  background-color: #6b6262;
  font-size: 1.3rem;
  padding: 10px 15px;
  margin-top: 40px;
  border-radius: 10px;
  color: #fff;
}

.btn-area button:active {
  background-color: aliceblue;
}

.instructions {
  margin-top: 50px;
  margin-bottom: 50px;
  color: greenyellow;
  text-shadow: 3px 3px 5px yellowgreen, -3px -3px 5px rgba(0, 0, 0, 0.8);
}

.enter-game {
  background-color: purple;
  border: solid 4px plum;
  border-radius: 20px;
  margin-top: 80px;
  height: 50px;
  width: 250px;
  color: rgb(201, 211, 181);
  border: 1px solid yellowgreen;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px greenyellow;
  text-shadow: 3px 3px 5px yellowgreen, -3px -3px 5px rgba(0, 0, 0, 0.8);
}

#board {
  position: relative;
  height: 90vh;
  width: 90vw;
  background-color: white;
  overflow: hidden;
}

#player {
  position: absolute;
}

.obstacle {
  position: absolute;
  background-color: blueviolet;
}

#dialog-container{
  display: flex;
  position: relative;
  justify-content: center; /* Center horizontally */
  align-items: center; 
  visibility: hidden;
}

#dialog{
  display: flex;
  justify-content: space-around;
  background-color: purple;
  font-size: large;
  position: absolute;
  padding: 20px;
  height: 35vh;
  width: 35vw;
  border-radius: 10px;
  color: rgb(201, 211, 181);
  border: 1px solid yellowgreen;
  border-radius: 10px;
  box-shadow: 1px 1px 30px 1px greenyellow;
  text-shadow: 3px 3px 5px yellowgreen, -3px -3px 5px rgba(0, 0, 0, 0.8);
}

#dialog p{
  margin-top: 40px;
}

#close-dialog{
  font-size: xx-large;
  cursor: pointer;
  color: red;
}